/*
==============================================
iframe styles
==============================================
*/



#donkyRichPopupIframe{
    width:455px;
    height:240px;
    top: 25%;
    left: 25%;
    right: 25%;
    bottom: 25%;
    position: fixed;
}
