/*
==============================================
iframe styles
==============================================
*/



#donkyRichPopupIframe{
    width:455px;
    height:300px;
    top: 20%;
    margin: 5% auto;
    left: 0;
    right: 0;
    bottom: 25%;
    position: fixed;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.40);
	-moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.40);
	box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.40);	
}



@media (max-width: 640px) {
	#donkyRichPopupIframe{
        margin: 5% auto;
        left: 0;
        right: 0;
		width:300px;
	}
}
