/*
==============================================
pop-up styles
==============================================
*/
body{
	background: transparent;
}

#DonkyNotification{
	background-color:#fff;
	padding: 15px 15px 0px 15px;
	margin: 0;	
	border: #ccc 1px solid;
}


@media (min-width: 415px) {
	#DonkyNotification{
		border-radius:15px;
	}
}


.forMobile{
	margin: 0; 
}

.forDesktop{
	margin: 20px 0 20px 20px;
}

.badge{
	position: absolute;
	top: 0;
	left: 9px;
	font-size: 10px;
	background-color: #26a7df;
	padding: 3px 5px;
	z-index: 1000;
	border: 2px solid #fff;
}

@media (max-width: 400px) {
	.badge{
		left: 3px;			
	}
}


.container{
    position: relative;	
}

.bannerClose {
	float: right;
	cursor: pointer;
	font-size: 12px;
	position: absolute;
	z-index: 1000;
	right: 0;
}

.avatar img{
    border: 1px solid #CCC;
		width:96px;
		height:96px;
}	   

@media (max-width: 400px) {
	.avatar img{
		width:70px;
		height:70px;
	}	   
}
			   			         
.content h3{
	text-transform: uppercase;
    color: #26a7df;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px 0;
}	                        

.content h3 em{
    color: black;
	font-style: normal;
}	                        


p{
    font-weight: 300;
    color: #555;
    line-height: 20px;
    text-align: left;
    font-size: 14px;
	margin: 0;
}
                            
hr{
    margin: 5px 0 15px 0;
}                            

a.donkyBannerButton{
    color:#26a7df;
	text-transform: uppercase;
	font-weight: bold;
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	border-radius: 0;
	padding-top:10px;
	padding-bottom:10px;
	display: block;
}                            


.glyphicon-remove:hover{
	color: #ccc;
}

.buttonContainer{
	border-top:1px solid #ccc;
	margin-top: 10px;
}

.buttonContainer .col-xs-6{
	padding: 0;
    margin: 0;	
}

.buttonContainer .col-xs-6:first-of-type{
	border-right: 1px solid #ccc;	
}


.buttonContainer .col-xs-12{
	padding: 0;
    margin: 0;	
}


.col-xs-3, .col-xs-9{
	padding: 0;
	margin: 0;
}

.content{
    padding-left: 10px;
}

.btn:hover, .btn:focus, .btn:active{
    color: #fff;
    text-decoration: none;
    background-color: #A7A9AC;
}