
/*
==============================================
iframe styles
==============================================
*/

#donkySimplePushIframe{
	position:fixed;
	top:0;
	z-index:1000000;
	width:100%;
	padding: 0;
}

@media (min-width: 640px) {
	#donkySimplePushIframe{
		right:0;
		top:70%;
		width:450px;
	}
}

