<div id="DonkyNotification" class="{{ResponsiveStyle}}">
  
    <div class='container'>
        <div class='row'>
            {{{CloseButton}}}
            <div class="col-xs-3 avatar">
                <span class="badge">{{UnreadCount}}</span>
                <img class="img-circle" src="{{AvatarUrl}}" />
            </div>
            <div class="col-xs-9 content">
                <h3>{{{SenderDisplayName}}}</h3>
                <p>{{{Body}}}</p>
            </div>
        </div>
    </div>
    {{#Buttons.length}}    
        <div class='row buttonContainer'>
            {{#Is1Button}}
            <div class="col-xs-12">
                {{{Buttons.0.ButtonHtml}}}
            </div>        
            {{/Is1Button}}        
        
            {{#Is2Button}}
            <div class="col-xs-6">
                {{{Buttons.0.ButtonHtml}}}
            </div>        
            <div class="col-xs-6">
                {{{Buttons.1.ButtonHtml}}}            
            </div>                    
            {{/Is2Button}}        
        </div>   
    {{/Buttons.length}}      
   
    {{^Buttons.length}}    
        <br/>
    {{/Buttons.length}}         

</div>
